.btn-blue {
	background-color: black;
	padding: 15px 20px;
	border-radius: :4px;
	color: red;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

 .btn-blue: hover {
    background-color: white;
  	color: red;  
 }